body {
    background-color: rgb(5, 5, 5);
    color: rgb(240, 240, 245);
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.main-page {
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}