
#header {
    background-color: rgb(4, 4, 4);
    height: 35px;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    visibility: hidden;
    padding: 15px;
    font-weight: inherit;
    border: 2px solid rgba(35, 35, 35);
}

@media (min-width: 1400px) {
    #header {
        visibility: visible;
    }
}

#header-title-1{
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    position: relative;
    top: -10px;
    display: inline;
    color: rgba(120, 120, 120);
    margin-right: 10px;
    font-family: cursive;
}

#header-title-2 {
    font-size: 60px;
    display: inline;
    font-weight: inherit;
    position: relative;
    top: -10px;
    
}

#header-logo{
    height: 45px;
    width: auto;
    top: 5px;
    position: relative;
}

#header-list {
    display: inline;
    list-style: none;
    float: right;
    top: -15px;
    position: relative;
    margin-right: 35px;
}

#header-list > li {
    display: inline;
    margin-right: 40px;
}

.list-img {
    height: 40px;
    width: auto;
    filter: brightness(15%);
}

.list-img:hover {
    filter: brightness(60%);
}