
#header {
    background-color: rgb(18, 18, 21);
    height: 50px;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    visibility: hidden;
    padding: 15px;
    font-weight: inherit;
}

@media (min-width: 1400px) {
    #header {
        visibility: visible;
    }
}

#header-title-1{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -5px;
    display: inline;
    margin-right: 10px;
    color:rgb(136, 139, 150);
    font-family: cursive;
    font-style: italic;
}

#header-title-2 {
    font-size: 70px;
    display: inline;
    font-weight: inherit;
    position: relative;
    top: -5px;
    
}

#header-logo{
    height: 45px;
    width: auto;
    top: 5px;
    position: relative;
}

#header-list {
    display: inline;
    list-style: none;
    float: right;
    top: -10px;
    position: relative;
    margin-right: 35px;
}

#header-list > li {
    display: inline;
    margin-right: 40px;
}

.list-img {
    height: 45px;
    width: auto;
}

.list-img:hover {
    filter: contrast(0%) brightness(5%);
}