
.background-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: contrast(120%) brightness(40%);
    z-index: 2;
    position: absolute;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

#bg-clicker {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

#home-page img.transparent {
    opacity:0;
}

#home-page {
    padding: 0px;
}